# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching directories
__pycache__/
.cache/

# Distribution / packaging
dist/
build/
*.egg-info/
*.env
.env

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Miscellaneous
*.log
.DS_Store

venv
venv*
venv/

### direnv
.direnv
.envrc

### nix
result

### infra
*-secret.yaml
