body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px;
}

header .logo {
    display: inline-block;
    margin-right: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

.tasks-grid {
    display: flex;
    flex-wrap: wrap;
}

.task-item {
    background-color: #ddd;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 40px);
    text-align: center;
}

.task-item a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
